<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HelloService.SayHiService" behaviorConfiguration="mexBehavior">
        <endpoint address="HelloService" binding="basicHttpBinding" contract="HelloService.ISayHiService"></endpoint>
        <endpoint address="HelloService" binding="netTcpBinding" contract="HelloService.ISayHiService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="HelloService.ISayHiService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"></add>
            <add baseAddress="net.tcp://localhost:8090/"></add>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
    </behaviors>  
  </system.serviceModel>
</configuration>